<!DOCTYPE html>
<html lang="en">
    <title>Sipatuh | Pengujian History</title>
    <% include ./include/head %>
    <body id="page-top"> 
    <div id="wrapper">
        <% include ./include/nav %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <% include ./include/content_topbar %>
                      <!-- Begin Page Content -->
        <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Status Pengujian</h1>
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                  <div class="card-body">
                    <div class="table-sm table-responsive">
                      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead  >
                          <tr>
                            <th>No.</th>
                            <th>Category</th>
                            <th>Number</th>
                            <th>Status</th>
                            <th>Last date</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1.</td>
                            <td>Perjanjian Kerja Sama (PKS) xx</td>
                            <td>e-xxx/xxx/xxxx/xxxx</td>
                            <td>InProgress</td>
                            <td>2011/04/25</td>
                            <td>
                                <a href="#" class="btn-sm btn-light btn-icon-split">
                                    <span class="icon text-gray-600">
                                      <i class="fas fa-arrow-right"></i>
                                    </span>
                                    <span class="text">Details</span>
                                  </a>
                                </td>
                          </tr>
                          <tr>
                            <td>2.</td>
                            <td>Perjanjian Kerja Sama (PKS)</td>
                            <td>e-xxx/xxx/xxxx/xxxx</td>
                            <td>InProgress</td>
                            <td>2011/07/25</td>
                            <td><a href="#" class="btn-sm btn-light btn-icon-split">
                                    <span class="icon text-gray-600">
                                      <i class="fas fa-arrow-right"></i>
                                    </span>
                                    <span class="text">Details</span>
                                  </a></td>
                          </tr>
                          <tr>
                            <td>3.</td>
                            <td>Perjanjian Kerja Sama (PKS)</td>
                            <td>e-xxx/xxx/xxxx/xxxx</td>
                            <td>InProgress</td>
                            <td>2009/01/12</td>
                            <td><a href="#" class="btn-sm btn-light btn-icon-split">
                                    <span class="icon text-gray-600">
                                      <i class="fas fa-arrow-right"></i>
                                    </span>
                                    <span class="text">Details</span>
                                  </a></td>
                          </tr>
                        
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
      
              </div>
              <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->
  </div>

          <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <% include ./include/scripts %>
        <% include ./include/footer %>

    </body>
</html>