<!DOCTYPE html>
<html lang="en">
    <title>Sipatuh | Pengujian</title>
    <% include ./include/head %>
    <body id="page-top"> 
    <div id="wrapper">
        <% include ./include/nav %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <% include ./include/content_topbar %>

                <main role="main" class="col-md-9 ml-sm-auto col-lg-12 pt-4 px-4">
                   
                    <div class="table">
                        <tr> <!--  baris PERTAMA -->
                        <div class="card-deck mb-1 py-1">

                            <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">SURAT KEPUTUSAN (SK)</h6>
                                    </div>
                                    <div class="card-body">

                                    <form>

                                            <div class="form-group">
                                                    <label for="exampleFormControlTextarea1">Pesan</label>
                                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                  </div>

                                                  <div class="form-group">
                                                        <label for="exampleFormControlFile1">Upload file</label>
                                                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                                      </div>
                                                  <div class="form-group">
                                                            <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                                       </div>

                                                       <div class="form-group">
                                                            <label for="exampleFormControlTextarea1">Kebijakan & Aturan Untuk Mitigasi Risiko</label>
                                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                          </div>

                                                          <div class="form-group">
                                                                <label for="exampleFormControlTextarea1">Cost & Benefit Analysis</label>
                                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                              </div>

                                                              <div class="form-group">
                                                                    <label for="exampleFormControlTextarea1">Risiko Ketika Kebijakan Dijalankan (Kategori Risiko dan Keterangannya)</label>
                                                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                                  </div>
                                                                  <div class="form-group">
                                                                        <label for="exampleFormControlTextarea1">Rencana Mitigasi Risiko</label>
                                                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                                      </div>

                                                                      <div class="form-group">
                                                                      <a target="" rel="nofollow" href="/pengujianCreate">
                                                                        <button type="submit" class="btn btn-md-primary float-right bg-info text-white">Kirim</button>
                                                                    </a>
                                                                </div>
                                          </form>

                                    </div>
                             </div>

                        </div>
                        </tr>
                  
                    </div>
                </main>
            </div>
            <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->
  </div>

          <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <% include ./include/scripts %>
        <% include ./include/footer %>

    </body>
</html>